In [1]:
# Подгружаем библиотеку
import pandas as pd

In [2]:
# Считываем данные
bookings = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-o-fefilova/shared/homeworks/python_ds_miniprojects/2/bookings.csv', sep=';')

In [3]:
bookings_head = bookings.head(7)

In [4]:
bookings.shape

(119390, 21)

In [5]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [6]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [7]:
bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [8]:
#создадим функцию для перевода строк в snake case
def snake_case(name):
    new_name = name.replace(' ', '_').lower()
    return new_name

#переименуем названия столбцов в snake case
bookings = bookings.rename(columns=snake_case)

In [9]:
bookings.head(10)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,FB,PRT,C,C,Transient,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015-07-01,2015,July,27,1,0,3,...,2,0.0,0,BB,PRT,A,A,Transient,Canceled,2015-05-06
9,Resort Hotel,1,75,2015-07-01,2015,July,27,1,0,3,...,2,0.0,0,HB,PRT,D,D,Transient,Canceled,2015-04-22

In [10]:
#Узнаем пользователи из каких стран совершили наибольшее число успешных бронирований
reservations_by_country = bookings \
    .query('is_canceled == 0') \
    .country.value_counts()

In [11]:
reservations_by_country.head()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

In [12]:
#На сколько ночей в среднем бронируют отели типа City Hotel? Resort Hotel?
bookings.groupby('hotel', as_index = False) \
    .aggregate({'stays_total_nights': 'mean'}).round(2) \
    .sort_values('stays_total_nights', ascending = False)

          hotel  stays_total_nights
1  Resort Hotel                4.32
0    City Hotel                2.98

In [13]:
#Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type). 
#Такое может произойти, например, по причине овербукинга.
#Сколько подобных наблюдений встретилось в датасете?
bookings.query('assigned_room_type != reserved_room_type').shape

(14917, 21)

In [14]:
#Проанализируем даты запланированного прибытия (arrival_date_year).
#На какой месяц чаще всего оформляли бронь в 2016 году?
#Изменился ли самый популярный месяц в 2017?

#Отберем строки 2016 года
bookings_2016 = bookings \
    .query('arrival_date_year == 2016') \
    .arrival_date_month.value_counts()

In [15]:
bookings_2016

October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: arrival_date_month, dtype: int64

In [16]:
#Отберем строки 2017 года
bookings_2017 = bookings \
    .query('arrival_date_year == 2017') \
    .arrival_date_month.value_counts()

In [17]:
bookings_2017

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

In [18]:
#Сгруппируйте данные по годам, а затем проверьте, 
#на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017? 

bookings \
    .query('hotel == "City Hotel"') \
    .query('is_canceled == 1') \
    .groupby('arrival_date_year').arrival_date_month.value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

In [19]:
#Посмотрите на числовые характеристики трёх колонок: adults, children и babies. 
#Какая из них имеет наибольшее среднее значение?

bookings.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,stays_total_nights,adults,children,babies
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,3.427900,1.856403,0.103890,0.007949
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,2.557439,0.579261,0.398561,0.097436
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,2.000000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,3.000000,2.000000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,4.000000,2.000000,0.000000,0.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,69.000000,55.000000,10.000000,10.000000

In [20]:
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [21]:
#Создайте колонку total_kids, объединив столбцы children и babies. 
#Для отелей какого типа среднее значение переменной оказалось наибольшим?

bookings['total_kids'] = bookings.children + bookings.babies

In [22]:
#Сгруппируем данные по типу отеля и посчитаем среднее число детей у клиентов в каждой группе. 
#А затем округлим значения до 2-ух знаков и возьмем максимум
bookings \
    .groupby('hotel') \
    .agg({'total_kids': 'mean'}).round(2).max

<bound method DataFrame.max of               total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14>

In [23]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0

In [31]:
#Выясним среди какой группы выше Churn Rate: с детьми или без детей

bookings['has_kids'] = (bookings.total_kids != 0)

In [45]:
#Выясним общее количество посетителей без детей
without_kids = bookings \
    .query('has_kids == False')
without_kids_sum = len(without_kids.index)

In [46]:
#Выясним общее количество посетителей с детьми
with_kids = bookings \
    .query('has_kids == True')
with_kids_sum = len(with_kids.index)

In [44]:
#Сделаем проверку. Сравним общее количество бронирований с суммой бронирований с детьми и без детей.

len(bookings.index) == (len(without_kids.index) + len(with_kids.index))

True

In [47]:
#Выясним количество посетителей без детей, отменивших бронирование
without_kids_canceled = bookings \
    .query('has_kids == False') \
    .query('is_canceled == 1')
without_kids_canceled_sum = len(without_kids_canceled.index)

In [49]:
#Выясним количество посетителей с детьми, отменивших бронирование
with_kids_canceled = bookings \
    .query('has_kids == True') \
    .query('is_canceled == 1')
with_kids_canceled_sum = len(with_kids_canceled.index)

In [54]:
churn_rate_without_kids = (without_kids_canceled_sum / without_kids_sum)
churn_rate_with_kids = (with_kids_canceled_sum / with_kids_sum)

In [59]:
churn_rate_without_kids

0.3721900158104203

In [61]:
churn_rate_with_kids

0.3495072836332476